app-root .header{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 4px;
    height: 50px;
    background-color: black;
    /*border: 2px solid pink;*/
}

app-root .navbar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 43px;
}

app-root .navbar-menu{
    display: flex;
    width: 100%;
    align-items: center;
}

app-root .logo-style{
    width: 100px;
}

app-root .active{
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 15px;
    margin-left: 15px;
}

app-root a:hover{
    background-color: gray;
    padding: 15px;
}

app-root .a-style{
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin-left: 15px;
}

app-root .container{
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 100%;
    /*border: 2px solid aqua;*/
}

app-root .body-image{
    background-image: url("img/genshin_sfondo.webp");
    background-color: rgb(0, 153, 255);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

app-root .container .body-container-0{
    box-sizing: border-box;
    padding: 0 20px 0 20px;
    height: 100%;
    width: 100%;
    /*border: 2px solid red;*/   
}

app-root .container .body-container-1{
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 20px;
    height: 100%;
    width: 100%;
    /*border: 2px solid red;*/
}

app-root .container .body-container-2{
    box-sizing: border-box; 
    padding: 20px;
    margin-top: 20px;
    height: 100%;
    width: 100%;
    /*border: 2px solid red;*/
}

.display-form{
    display: block;
}

.paragraph-style{
    background-color: rgba(255, 255, 255, 0.5);
    border: white;
}

.fieldset-style{
    background-color: rgba(255, 255, 255, 0.5);
    border: white;
}

.fieldset-position{
    display: inline;
}

.character-list{
    display: inline-block;
}

.character-img{
    width: 15%;
}

/*accordion style*/
.accordion{
    margin-top: 5px;
}

.accordion-header{
    padding: 10px 10px;
}

